**Data Types and Structures Questions**

1. What are data structures, and why are they important?
--> Data structures are formats for organizing and storing data efficiently. They are essential because they enable fast data access, better memory usage, and effective implementation of algorithms, which improves program performance.

2. Explain the difference between mutable and immutable data types with examples.
--> Mutable data types like lists and dictionaries can be changed after creation, whereas immutable types like strings and tuples cannot. For example, you can append to a list, but you cannot modify a string’s characters directly.

3. What are the main differences between lists and tuples in Python?

--> Lists are mutable, slower, and use square brackets, whereas tuples are immutable, faster, and use parentheses. Tuples are used for fixed data, while lists are suitable for dynamic data manipulation.

4. Describe how dictionaries store data.

--> Dictionaries store data in key-value pairs using a hash table. Each key maps to a unique value, allowing fast retrieval of data based on the key.

5. Why might you use a set instead of a list in Python?

--> Sets are used when you need to store unique items and perform fast membership tests. Unlike lists, sets automatically remove duplicates and allow set operations like union and intersection.

6. What is a string in Python, and how is it different from a list?

--> A string is a sequence of characters and is immutable. Lists, on the other hand, can hold elements of any type and are mutable, meaning you can modify them after creation.

7. How do tuples ensure data integrity in Python?

--> Tuples are immutable, which means their contents cannot be changed once created. This guarantees the integrity of stored data, making them suitable for fixed, constant values.

8. What is a hash table, and how does it relate to dictionaries in Python?

--> A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables to provide fast key-based access to values.

9. Can lists contain different data types in Python?

--> Yes, Python lists are heterogeneous, meaning they can store elements of different types, such as integers, strings, and even other lists.

10. Explain why strings are immutable in Python.

 --> Strings are immutable to ensure data safety, allow efficient memory use, and enable string reuse. It also allows them to be used as keys in dictionary.

11. What advantages do dictionaries offer over lists for certain tasks?

--> Dictionaries allow fast lookups using keys, making them ideal for mapping relationships like name-to-age. Lists are slower for this because they require searching through elements.

12. Describe a scenario where using a tuple would be preferable over a list.

--> When returning fixed values from a function, like coordinates (x, y), tuples are preferred since the data should not be modified.

In [1]:
def get_user_location():
    x = 35.6
    y = 78.2
    return (x, y)  # returns a tuple

13. How do sets handle duplicate values in Python?
--> Sets automatically discard duplicate entries, ensuring that each element is unique.

4. How does the “in” keyword work differently for lists and dictionaries?

 --> In lists, in checks for the presence of a value. In dictionaries, it checks for the presence of a key, not a value.

15. Can you modify the elements of a tuple? Explain why or why not.


-->No, tuples are immutable, so you cannot change their elements once defined. Attempting to do so will raise an error.

16. What is a nested dictionary, and give an example of its use case.

--> A nested dictionary contains another dictionary as a value. It's useful for storing structured data like student records with subjects and scores.

17. Describe the time complexity of accessing elements in a dictionary.

--> Accessing elements in a dictionary is on average O(1), thanks to the hash table, which allows constant-time lookups.

18. In what situations are lists preferred over dictionaries?

--> Lists are preferred when you need to maintain order or store sequential, index-based data without needing key-value mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-->Before Python 3.7, dictionaries didn’t preserve insertion order. Even now, although order is preserved, retrieval is still based on keys, not positions.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

--> Lists retrieve data using index positions (e.g., list[0]), while dictionaries retrieve data using keys (e.g., dict['name']), allowing more meaningful data access.

# Practical Questions

1.  Write a code to create a string with your name and print it

In [2]:
name = "Ritik Maheshwari"
print(name)

Ritik Maheshwari

2. Write a code to find the length of the string "Hello World"?

In [3]:
text = "Hello World"
print(len(text))  # Output: 11

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [4]:
text = "Python Programming"
print(text[:3])  # Output: Pyt

Pyt

5. Write a code to convert the string "hello" to uppercase.

In [5]:
word = "hello"
print(word.upper())  # Output: HELLO

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)  # Output: I like orange

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)  # Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])  # Output: b

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
rev_list = [10, 20, 30, 40, 50]
rev_list.reverse()
print(rev_list)  # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
numbers = (10, 20, 5, 15)
print(min(numbers))  # Output: 5

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))  # Output: 1

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)  # Output: False

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)  # Output: set()

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))  # Output: {2, 3}

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
person = {'name': 'John', 'age': 25}
person['country'] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
data = {'name': 'Alice', 'age': 30}
print(data['name'])  # Output: Alice

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
profile = {'name': 'Bob', 'age': 22, 'city': 'New York'}
profile.pop('age')
print(profile)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
info = {'name': 'Alice', 'city': 'Paris'}
print("city" in info)  # Output: True

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
l = [1, 2, 3]
t = ('a', 'b', 'c')
d = {'key': 'value'}
print(l, t, d)

[1, 2, 3] ('a', 'b', 'c') {'key': 'value'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [28]:
import random
rand_nums = random.sample(range(1, 101), 5)
rand_nums.sort()
print(rand_nums)

[21, 27, 71, 84, 100]

28. Write a code to create a list with strings and print the element at the third index.

In [29]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])  # Output: date

date

29.  Write a code to combine two dictionaries into one and print the result.

In [30]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [31]:
str_list = ["apple", "banana", "apple"]
str_set = set(str_list)
print(str_set)  # Output: {'apple', 'banana'}

{'apple', 'banana'}